* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
}

.app {
  background-image: url('../img/pexels-arnie-watkins-3156381.jpg');
  background-size: cover;
  background-position: center;
  transition: .4s;
}

.app.cold {
  background-image: url("../img/jose-duarte-yfQRbv7oYCg-unsplash\ \(2\).jpg");
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
     rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 70%;
  /* margin: 0 0 75px; */
  margin: 0 auto;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 10px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(225, 255, 255, 0.5);
  border-radius: 0px 16px 0px 16px;
  margin-top: 30vh;
  border-bottom: 1px solid gold;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  transition: 0.5s ease;

}

.search-box .search-bar:focus {
  background-color: rgba(225, 255, 255, 0.8);
  border-radius: 16px 0 16px 0;
}
